.body{
    background-color: beige;
}
.seperateword{
    color: rgb(32, 167, 167);
}
.navbar-brand{
    font-weight: bold;
}
.first{
    font-size: 4vw;
    margin-top: 2vw;

}
.ownimages{
    height: 30vw;
    width: 30vw;
    border-radius: 100%;
    margin: 5vw;
    
}



.about{
    text-align: center;
    width: 100%;
}

.images a img {
    height: 5vw;
    margin: 1vw;

}

.Name{
    font-size: 3vw;
    color: rgb(67, 165, 152);
    margin-bottom: 2vw;
}

.website{
    color: rgb(175, 171, 171);
    font-size: 2.5vw;
    margin-bottom: 2vw;
    font-style: italic;

}

.skills{
    font-size: 2vw;
    color: rgb(67, 165, 152);
    margin-bottom: 2vw;
    width: 60%;
    margin-left: 20vw;

}

.info{
    font-size: 2vw;
    font-style: italic;
    margin-bottom: 2vw;
    width: 60%;
    margin-left: 20vw;
}

.project{
    text-align: center;
    width: 100%;
}
.Card{
    width: 80%;
    margin: auto;
}
.card{
width: 100%;
}
.card-text{
    text-align: left;
    font-size: 1vw;
    font-weight: bold;
}
.card-title{
    text-align: left;
    font-weight: bold;

}
.less{
    font-size: 1vw;
    color: gray;
    margin-top:1vw;
    text-align: left;
}

.navbar-nav{
    text-align: left;
}













button {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #080808;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
    z-index: 0;
  }
  
  button::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,0.8) 17.8%, rgba(2,245,255,0.8) 100.2% );
    filter: blur(15px);
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
  }